body {
    margin:0;
    background: lightblue;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightpink;

}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgreen;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
    font-weight: bold;
}