<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ломбоцыренова Туяна. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
    <style>
        body{
            {% if request.cookies.get('color') %}
            color: {{ request.cookies.get('color') }};
            {% endif %}

            {% if request.cookies.get('back_color') %}
            background-color: {{ request.cookies.get('back_color') }};
            {% endif %}
            
            {% if request.cookies.get('text_size') %}
            font-size: {{ request.cookies.get('text_size') }}px
            {% endif %}
        }
    </style>
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Ломбоцыренова Туяна, ФБИ-33, 3 курс, 2025
    </footer>
</body>
</html>